
body{
  background: black;
  margin: 0;
  font-size: 100%;
}

h1{
  background: green;
  margin: 0;
  text-align: center;
  color: white;
  padding: 8px 0;
}

#titleDisplay{
  font-size: 150%;
}

#stripe{
  background: black;
  height: 50px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

.btn {
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid black;
  margin:0 auto;
  background-image: url("assets/start.jpg"); 
  background-repeat:no-repeat;
  background-size: 140%;
  background-position: -8px -8px;
}

#reset{

}


.triangle {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 340px solid transparent;
  border-right: 340px solid transparent;
  border-bottom: 510px solid rgb(250, 180, 90);
  position: relative;
}


.wrapper {
  display: grid;
  grid-auto-rows: 85px;
  margin-top: 30px;
  background-color: green;
  position: relative;
  left: -302px;
}

.container1a{
  display: flex;
  left: 440px; 
  line-height: 25px;
}

  .container1{
    display: flex;
    margin: 0 auto;
    position: static;
    line-height: 50px;
  }
  .container2{
    display: flex;
    margin: 0 auto;
    line-height: 50px;
  }
  .container3{
    display: flex;
    margin: 0 auto;
    line-height: 50px;
  }
  .container4{
    display: flex;
    margin: 0 auto;
    line-height: 50px;
  }
  .container5{
    display: flex;
    position: relative;
    margin: 0 auto;
    line-height: 50px;
  }

.container1 .circle1 {
  margin-right: auto;
  margin-left: 60px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: black;
}

.container2 .circle2 {
  margin-right: auto;
    margin-left: 60px;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50px;
   background-color: black;
}

.container3 .circle3 {
      margin-right: auto;
      margin-left: 60px;
      height: 50px;
      width: 50px;
      display: block;
      border-radius: 50px;
      background-color: black;
  float: left;
}

.container4 .circle4 {
      margin-right: auto;
      margin-left: 60px;
      height: 50px;
      width: 50px;
      display: block;
      border-radius: 50px;
      background-color: black;
  float: left;
}

.container5 .circle5 {
  margin-right: auto;
  margin-left: 60px;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50px;
  background-color: black;
  float: left;
}