body {
  background: black;
  margin: 0;
  font-size: 100%;
}

h1 {
  background: green;
  margin: 0;
  text-align: center;
  color: white;
  padding: 8px 0;
}

#titleDisplay {
  font-size: 150%;
}

#stripe {
  background: black;
  height: 50px;
  margin: 0;
  padding-top: 10px;
}

.btn {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid black;
  margin: 0 auto;
  background-image: url("assets/start.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: -8px -8px;
}


#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover,
#seven:hover,
#eight:hover,
#nine:hover,
#ten:hover,
#eleven:hover,
#twelve:hover,
#thirteen:hover,
#fourteen:hover,
#fifteen:hover {
  color: white;
}


.triangle {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 340px solid transparent;
  border-right: 340px solid transparent;
  border-bottom: 510px solid LightGray;
}


.wrapper {
  display: grid;
  grid-auto-rows: 85px;
  margin-top: 30px;
  background-color: green;
  position: relative;
  left: -302px;
}

.container1a {
  display: flex;
  left: 440px;
  line-height: 25px;
}

.container1, .container2, .container3, .container4, .container5 {
  display: flex;
  margin: 0 auto;
  line-height: 50px;
}

.container1 .circle, .container2 .circle, .container3 .circle, .container4 .circle, .container5 .circle {
  margin-right: auto;
  margin-left: 60px;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  background-color: green;
}